<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editMode ? 'Edit User' : 'Add User'"
    [subheader]="editMode ? 'You can edit the user' : 'You can add a new user'"
  >
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary mr-2"
              [label]="editMode ? 'Update' : 'Create'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancel"
              icon="pi pi-arrow-circle-left"
              [routerLink]="['/users']"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid formgrid grid">
            <div class="field col-4">
              <label for="name">Name</label>
              <input
                id="name"
                type="text"
                class="inputfield w-full"
                formControlName="name"
                pInputText
              />
              <small
                class="p-error"
                *ngIf="form.controls.name.invalid && isSubmitted"
              >
                Name is required
              </small>
            </div>
            <div class="field col-4">
              <label for="email">Email</label>
              <input
                id="email"
                type="text"
                class="inputfield w-full"
                formControlName="email"
                pInputText
              />
              <small
                class="p-error"
                *ngIf="form.controls.email.invalid && isSubmitted"
              >
                <span *ngIf="form.controls.email.errors?.required"
                  >Email is required</span
                >
                <span *ngIf="form.controls.email.errors?.email"
                  >Email is invalid</span
                >
              </small>
            </div>
            <div class="field col-4">
              <label for="password">Password</label><br />
              <input
                id="password"
                type="password"
                class="inputfield w-full"
                formControlName="password"
                pInputText
              />
              <small
                class="p-error"
                *ngIf="
                  form.controls.password.invalid && isSubmitted && !editMode
                "
              >
                Password is required
              </small>
            </div>
          </div>
          <div class="p-fluid formgrid grid">
            <div class="field col-4">
              <label for="phone">Phone</label>
              <p-inputMask
                mask="999-999-9999"
                formControlName="phone"
                placeholder="999-999-9999"
              ></p-inputMask>
              <small
                class="p-error"
                *ngIf="form.controls.phone.invalid && isSubmitted"
              >
                Phone is required
              </small>
            </div>
            <div class="field col-4">
              <label for="isAdmin">Is Admin</label><br />
              <p-inputSwitch
                id="isAdmin"
                formControlName="isAdmin"
              ></p-inputSwitch>
            </div>
          </div>
          <div class="p-fluid formgrid grid">
            <div class="field col-4">
              <label for="street">Street</label>
              <input
                id="street"
                type="text"
                class="inputfield w-full"
                formControlName="street"
                pInputText
              />
            </div>
            <div class="field col-4">
              <label for="apartment">Apartment</label>
              <input
                id="apartment"
                type="text"
                class="inputfield w-full"
                formControlName="apartment"
                pInputText
              />
            </div>
            <div class="field col-4">
              <label for="zip">Zip</label><br />
              <input
                id="zip"
                type="text"
                class="inputfield w-full"
                formControlName="zip"
                pInputText
              />
            </div>
          </div>
          <div class="p-fluid formgrid grid">
            <div class="field col-4">
              <label for="city">City</label>
              <input
                id="city"
                type="text"
                class="inputfield w-full"
                formControlName="city"
                pInputText
              />
            </div>
            <div class="field col-4">
              <label for="country">Country</label>
              <p-dropdown
                [options]="countries"
                placeholder="Select a Country"
                formControlName="country"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
              ></p-dropdown>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
