.d-item {
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: var(--surface-0);

  .pi {
    font-size: 4em;
    margin-bottom: 15px;
  }

  .name {
    font-size: 1.2em;
  }

  .number {
    font-size: 1.5em;
    margin-top: 50px;
  }
}
.d-orders {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.d-users {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
.d-totalsales {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
.d-products {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
